bower_components/
node_modules/
npm-debug.log

typings/
dist/
vendor/
bundles/
bundle.js
*.bundle.js



# visual studio related
.vs/
.nuget/
packages/
*.suo
*.user

[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/

# SQL Server files
*.mdf
*.ldf

# Atom? generated scripts
null/
