
body {
  font-family: 'Quicksand', 'sans-serif';
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  margin-bottom: 10px;
}
h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
button.btn { font-size: 24px; }

@media (max-width: 767px) {
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  h3 { font-size: 24px; }
  button.btn { font-size: 20px; }
}
@media (max-width: 479px) {
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 22px; }
  button.btn { font-size: 16px; }
}


// fonts


// colors
@white: #fff;
@burntOranage: #d15f27;
@mediumOranage: #ee7522;
@darkPeach: #f9a862;
@darkGray: #404041;
@darkCocoa: #594a41;
@gravel: #716558;
@beige: #c2b49a;



@controlsHeight: 30px;
@buttonMargin: 30px;

.controls {
  i {
    font-size: @controlsHeight;
    line-height: @controlsHeight;
  }
}

i {
  color: @darkCocoa;

  &:hover {
    color: @gravel;
  }
}

a {
  margin: 0;
  cursor: pointer;

  &, &:hover, &:visited, &:focus {
    color: @burntOranage;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &.disabled {
    cursor: default;
  }
}

img.loading {
    opacity: 0;
}
img.loaded {
    opacity: 1;
    transition: opacity 0.5s;
}


.sec-wrap {
  padding-top: 30px;
}


// default button
.btn-alfa-default {
  color: @white;
  background-color: @darkCocoa;
  border-color: @darkCocoa;
  padding-left: @buttonMargin;
  padding-right: @buttonMargin;
}
.btn-alfa-default:hover,
.btn-alfa-default:focus,
.btn-alfa-default:active,
.btn-alfa-default.active {
  color: @white;
  background-color: @gravel;
  border-color: @darkCocoa;
}
.btn-alfa-default.disabled:hover,
.btn-alfa-default.disabled:focus,
.btn-alfa-default.disabled:active,
.btn-alfa-default.disabled.active,
.btn-alfa-default[disabled]:hover,
.btn-alfa-default[disabled]:focus,
.btn-alfa-default[disabled]:active,
.btn-alfa-default[disabled].active,
fieldset[disabled] .btn-alfa-default:hover,
fieldset[disabled] .btn-alfa-default:focus,
fieldset[disabled] .btn-alfa-default:active,
fieldset[disabled] .btn-alfa-default.active {
  color: @white;
  background-color: @darkCocoa;
  border-color: @darkCocoa;
}



// primary button
.btn-alfa-primary {
  color: @white;
  background-color: @burntOranage;
  border-color: @burntOranage;
  padding-left: @buttonMargin;
  padding-right: @buttonMargin;
}
.btn-alfa-primary:hover,
.btn-alfa-primary:focus,
.btn-alfa-primary:active,
.btn-alfa-primary.active {
  color: @white;
  background-color: @mediumOranage;
  border-color: @burntOranage;
}
.btn-alfa-primary.disabled:hover,
.btn-alfa-primary.disabled:focus,
.btn-alfa-primary.disabled:active,
.btn-alfa-primary.disabled.active,
.btn-alfa-primary[disabled]:hover,
.btn-alfa-primary[disabled]:focus,
.btn-alfa-primary[disabled]:active,
.btn-alfa-primary[disabled].active,
fieldset[disabled] .btn-alfa-primary:hover,
fieldset[disabled] .btn-alfa-primary:focus,
fieldset[disabled] .btn-alfa-primary:active,
fieldset[disabled] .btn-alfa-primary.active {
  color: @white;
  background-color: @burntOranage;
  border-color: @burntOranage;
}
