.grid {
  margin: auto 0;

  .grid-item {
    // padding: 0;
    a {
      display: block;
      // padding: 4px;
      // box-shadow: 1px 2px 20px 1px #d3d3d3;

      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
