@import (reference) "../components/app.less";


#art-modal .modal-dialog {
  width: 90%;

  .controls {
    & > div {
      height: @controlsHeight;
      overflow: hidden;

      & > a {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .col-0 {
      position: relative;
      float: left;
      margin-left: 0;
      margin-right: 0;
    }
    .sep {
      width: 0;
      height: @controlsHeight;
      border-right: 1px solid @beige;
      margin: 0 15px;
    }
    i {
      font-size: @controlsHeight;
      line-height: @controlsHeight;
      color: @darkCocoa;

      &:hover {
        color: @gravel;
      }
      &.disabled {
        color: lighten(@darkCocoa, 50%);
      }
    }
  }

  .dimensions {
    margin-right: 10px;
  }

  .item-details {
    overflow: hidden;
  }

  .img-panel {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .info-panel {
    display: inline-block;
    vertical-align: top;
    // width: 0;
  }

  .info-wrap {
    white-space: normal;

    h3 {
      margin-top: 0;
    }
  }

  .buy-now {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  #art-modal .modal-dialog {
    .item-details {
      white-space: nowrap;
    }

    // image panel side-by-side
    .img-panel {
      transition-property: width;
      transition-duration: 0.5s;
    }
    .show-info .img-panel {
      width: 50%;
    }

    // info panel side-by-side
    .info-panel {
      width: 0;
      transition-property: all;
      transition-duration: 0.5s;
      transition-delay: 0.0s;
    }
    .show-info .info-panel {
      transition-delay: 0.2s; // wait for opacity transition
      width: 50%;
    }

    .info-wrap {
      margin-left: 15px;
      opacity: 0.0;
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-delay: 0.0s;
    }
    .show-info .info-wrap {
      opacity: 1.0;
      transition-delay: 0.5s; // wait for resize
    }

  }
}
@media (max-width: 767px) {
  #art-modal .modal-dialog {
    width: auto;

    .show-info .img-panel, .show-info .info-panel {
      display: block;
      width: 100%;
    }
    .info-panel {
      max-height: 0;
      transition-property: max-height;
      transition-duration: 0.5s;
    }
    .show-info .info-panel {
      max-height: 500px;
    }
    .info-wrap {
      margin-top: 25px;
    }
  }
}
