#art-modal .modal-dialog {
  width: 90%;

  .controls {
    a {
      line-height: 30px;
      margin: 0;

      &, &:hover, &:visited, &:focus {
        text-decoration: none;
      }
    }
    i {
      font-size: 30px;
      line-height: 30px;

      &.disabled {
        color: #eee;
      }
    }
  }
}
