<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    @RenderBody()

    <script src="~/content/scripts/app.js"></script>
    <script src="~/content/scripts/vendors.js"></script>
</body>
</html>
